section.section.services#services
  h2.section__title(data-heading="O que eu ofereço") Serviços
  .container
    .services__box#box1
      div(data-aos="fade-right" data-aos-duration="1800").services__item.card.option1
        .card__photo
          img.card__image(src=require("../../../images/diagnostico.jpg") alt="Diagnóstico bucal")
        .card__column
          .card__title Diagnóstico bucal
          .card__description O diagnóstico bucal permite que o profissional da odontologia descubra as causas de uma lesão ou qualquer outro tipo de problema bucal.
      div(data-aos="fade-left" data-aos-duration="1800").services__item.card
        .card__column
          .card__title Periodontia especializada
          .card__description Periodontia objetiva prevenir, diagnosticar e tratar problemas e doenças que atingem a gengiva, o ligamento periodontal e o osso alveolar.
        .card__photo
          img.card__image(src=require("../../../images/periodontia.jpg") alt="Periodontia especializada")      
      div(data-aos="fade-right" data-aos-duration="1800").services__item.card.option1      
        .card__photo
          img.card__image(src=require("../../../images/cirurgia.jpg") alt="Cirurgia oral menor dos tecidos moles e duros")
        .card__column
          .card__title Cirurgia oral menor dos tecidos moles e duros
          .card__description É uma subespecialidade da cirurgia bucomaxilofacial, sendo responsável por procedimentos cirúrgicos relacionados a ossos, dentes, gengivas e bochechas.
      div(data-aos="fade-left" data-aos-duration="1800").services__item.card
        .card__column 
          .card__title Endodontia
          .card__description Tratamento de canal é a remoção da polpa do dente, um pequeno tecido semelhante a um fio que fica no interior do dente.
        .card__photo
          img.card__image(src=require("../../../images/endodontia.jpg") alt="Endodontia")  
      div(data-aos="fade-right" data-aos-duration="1800").services__item.card.option1
        .card__photo
          img.card__image(src=require("../../../images/implantodontia.jpg") alt="Implantodontia")
        .card__column
          .card__title Implantodontia 
          .card__description implantes dentários e a reabilitação oral de pacientes que sofreram perda de dentes.