section.office.section#office
  h2.section__title(data-heading="Onde eu lhes espero") Meu consultório
    .office__container.container.grid
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office1.webp") alt="consultorio")
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office2.webp") alt="consultorio")
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office3.webp") alt="consultorio")
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office4.webp") alt="consultorio")
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office5.webp") alt="consultorio")
      div(data-aos="fade-in" data-aos-duration="1800").office__card
        img.office__img(src=require("../../../images/office6.webp") alt="consultorio")